<p id="alert"><%= alert %></p>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>-->

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li style = "color:red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>Please fill up all of the fields</legend>

  <div>
    <%= f.label :name %>:<br />
    <%= f.text_field :name, :size => 40 %>
  </div>
  
  <div>
    <%= f.label :email, "E-mail address:" %><br />
    <%= f.text_field :email, :size => 40 %>
  </div>

  <div>
    <%= f.label :password, 'Password' %>:<br />
    <%= f.password_field :password, :size => 40 %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'Confirm password' %>:<br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </div>
  <%if session[:user_id] != nil%>
    
    
    
    <p>
      <b> Picture </b><br/>
      <%= f.file_field :pic %>
    </p>
  <%end%>
  <br />
  <div>
    <%= f.submit 'Submit'%>
  </div>
  </fieldset>
<% end %>

